<header
  style="background-color: var(--main-color)"
  class="text-gray-100 h-[44px] flex justify-between items-center fixed z-1000 w-[100%]"
>
  <h1
    class="mr-5 text-[1.2rem] sm:text-[1.4rem] md:text-[2rem] font-bold"
    style="color: var(--sec-color)"
  >
    <a routerLink="home"> Muslima </a>
  </h1>
  <nav>
    <app-header-nav></app-header-nav>
  </nav>

  <section>
    <nav>
      <ul class="hidden md:flex ml-5 justify-between items-center gap-2">
        <li class="">
          <button
            class="rounded bg-green-300 px-3 py-1 flex justify-center items-center"
          >
            <a class="block text-center" routerLink="/pricePlans">
              قم بترقية الحساب
            </a>

            <mat-icon style="font-size: 16px; width: 16px; height: 16px"
              >arrow_upward_alt
            </mat-icon>
          </button>
        </li>

        <li>
          <a class="block text-center" routerLink="matches">
            <mat-icon>language </mat-icon>
          </a>
        </li>
        <li>
          <button
            class="block rounded-full text-center"
            [matMenuTriggerFor]="profileMenu"
          >
            <img
              class="block max-w-9 min-w-9 max-h-9 min-h-9 rounded-full border-white border-2"
              src="assets/imgs/default-male-avatar-profile-icon-social-media-user-free-vector.jpg"
              alt=""
            />
          </button>
          <mat-menu #profileMenu="matMenu">
            <ng-template matMenuContent>
              @for(item of items ; track $index){

              <app-dropdown
                [item]="item.name"
                [notification]="''"
              ></app-dropdown>
              }
            </ng-template>
          </mat-menu>
        </li>

        <li>
          <a [matMenuTriggerFor]="settingMenu">
            <mat-icon>settings </mat-icon>
          </a>
          <mat-menu #settingMenu="matMenu">
            <ng-template matMenuContent>
              @for(item of items ; track $index){

              <app-dropdown
                [item]="item.name"
                [routeName]="item.routeName!"

                [notification]="''"
              ></app-dropdown>
              }
            </ng-template>
          </mat-menu>
        </li>
      </ul>
    </nav>

    <button class="block md:hidden p-1 rounded ml-2 cursor" (click)="sideBar()">
      <mat-icon>view_headline</mat-icon>
    </button>
  </section>
</header>
