<div class="flex gap-5 relative">
  <a [routerLink]="['/messages/room', 1]">
    <img
      class="h-20 w-20 block rounded-full"
      src="assets/imgs/default-male-avatar-profile-icon-social-media-user-free-vector.jpg"
      alt=""
    />
  </a>
  <a [routerLink]="['/messages/room', 1]">
    <div class="flex flex-col items-start gap-1">
      <div class="flex gap-1 text-gray-500">
        <h2 class="text-lg">Mohamed Ashraf</h2>
        <span class="block"
          ><mat-icon [ngClass]="{ 'golden-member': true }">
            person
          </mat-icon></span
        >
      </div>
      <div class="flex gap-2 text-lg">
        <p>25</p>
        <p>Egypt ,<small>Giza</small></p>
      </div>
      <button
        class="block md:hidden rounded py-3 max min-h-[3rem]"
        style="color: var(--main-color)"
        [ngClass]="{ 'font-bold': true }"
      >
        محتوي الرسالة
      </button>
    </div>
  </a>

  <div class="absolute right-5 top-2 border">
    <app-user-status></app-user-status>
  </div>
</div>
