<!-- based on route i will change a the content that make the code more dynamic and make maintaince -->
<section class="min-h-31 py-2 px-4" style="background-color: var(--sec-color)">
  <div class="text-white px-4 py-3 text-[1.1rem]">
    <ng-content></ng-content>
  </div>
  <section class="bg-white shadow rounded hidden py-4 md:flex justify-between">
    <section class="flex justify-between gap-40 items-center">
      @for (item of ['ابحث علي','العمر','المحافظة','النوع']; track $index) {
      <div class="mx-5">
        <label class="block" for="input">{{ item }}</label>
        <select name="" id="">
          <option value="">1</option>
        </select>
      </div>

      }
      <div class="mx-2">
        <button
          style="background-color: var(--main-color)"
          class="px-3 py-2 rounded text-white shadow-lg"
        >
          أبحث
        </button>
      </div>
    </section>
  </section>
</section>
