<section class="my-10 flex items-center justify-between">
  <div class="flex gap-5 mx-5">
    <div>
      <img
        class="h-20 w-20 rounded-full"
        src="assets/imgs/default-male-avatar-profile-icon-social-media-user-free-vector.jpg"
        alt=""
      />
    </div>
    <div class="flex flex-col gap-3">
      <h5 class="text-white">مرحبا Mohamed</h5>
      <button
        class="rounded p-3 text-white max max-h-[3rem]"
        style="background-color: var(--main-color)"
      >
        قم بتحميل صور متعددة الاغراض الي معرض الصور الخاص بك
      </button>
    </div>
  </div>
  <div class="flex gap-15 mx-20">
    @for (item of [1,2,3,4,5]; track $index) {
    <app-border-circle>
      <mat-icon
        icon
        style="
          opacity: 0.9;
          color: #3f7580;
          height: 45px;
          width: 45px;
          font-size: 45px;
        "
      >
        favorite
      </mat-icon>
      <span number class="text-gray-100 block absolute top-[35%]"> 2 </span>
    </app-border-circle>
    }
  </div>
</section>
<section
  class="bg-white shadow rounded hidden py-4 md:flex justify-between mx-5"
>
  <section class="flex justify-between gap-40 items-center w-[90%]">
    @for (item of ['ابحث علي','العمر','المحافظة','النوع']; track $index) {
    <div class="mx-5">
      <label class="block" for="input">{{ item }}</label>
      <select name="" id="">
        <option value="">1</option>
      </select>
    </div>

    }
    <div class="mx-2">
      <button
        style="background-color: var(--main-color)"
        class="px-3 py-2 rounded text-white shadow-lg"
      >
        أبحث
      </button>
    </div>
  </section>
</section>
