<app-sub-header>
  <div class="flex justify-start">
    @for (item of matchesList; track $index) {

    <button class="flex justify-between py-2 px-2">
      <a
        [routerLink]="item.routeName"
        [routerLinkActive]="['border-b-3', 'border-bg-white']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ item.name }}
      </a>

      <mat-icon>{{ item.iconName }}</mat-icon>
    </button>
    }
  </div>
</app-sub-header>
<main class="px-15 mt-5">
  <app-orderby>
    <span label>1 - 35 من 1453</span>
    <div value>
      <span>الترتيب حسب:</span>
      <select class="inline-block" name="" id="">
        <option value="">1</option>
        <option value="">1</option>
        <option value="">1</option>
        <option value="">1</option>
      </select>
    </div>
  </app-orderby>
  <router-outlet></router-outlet>
</main>
