<footer class="relative mx-auto mt-8 w-[91.66667%] p-[1rem] max-md:hidden">
  <div class="flex justify-center gap-4 md:mb-4">
    <a class="text-dark-text-color" href="/ar/general/about" rel="nofollow"
      >معلومات عنا</a
    ><a class="text-dark-text-color" href="/ar/general/contact">اتصل بنا</a>
    <a class="text-dark-text-color" href="/ar/general/termsofuse"
      >شروط الاستخدام</a
    >
    <a class="text-dark-text-color" href="/ar/general/paymentRefund"
      >سياسة رد المال</a
    >
    <a class="text-dark-text-color" href="/ar/general/privacystatement"
      >بيان الخصوصية</a
    >
    <a class="text-dark-text-color" href="/ar/general/communityguidelines"
      >القواعد المعمول بها لدينا</a
    >
  </div>
  <div class="text-center">
    <p>text</p>
  </div>
</footer>
