<div class="flex flex-col justify-center items-center gap-5 relative">
  <a>
    <img
      class="h-40 w-40 block rounded-full"
      src="assets/imgs/default-male-avatar-profile-icon-social-media-user-free-vector.jpg"
      alt=""
    />
  </a>
  <a routerLink="">
    <div class="flex flex-col items-start gap-1">
      <div class="flex gap-1 text-gray-500">
        <h2 class="text-lg">Mohamed Ashraf</h2>
        <span class="block"> </span>
      </div>
      <div class="flex gap-2 text-lg">
        <p>25</p>
        <p>Egypt ,<small>Giza</small></p>
      </div>
      <button
        class="block md:hidden rounded py-3 max min-h-[3rem]"
        style="color: var(--main-color)"
      >
        محتوي الرسالة
      </button>
    </div>
  </a>
  <div>
    <mat-icon>block</mat-icon>
    <mat-icon>star</mat-icon>
    <span>
      <mat-icon>camera</mat-icon>
      <small>0 </small>
    </span>
    <mat-icon>favorite</mat-icon>
  </div>
</div>
