<div class="relative">
  <div class="absolute top-5 left-3">
    <app-user-status [status]="user.isOnline"></app-user-status>
  </div>
  <a [routerLink]="['/profile/', user._id]">
    <img class="block w-[100%] h-[300px]" [src]="user.profilePicture" alt="" />
  </a>
  <div class="p-2 absolute top-0 flex gap-2">
    <p-tag severity="success" [value]="`${user.age}`" />
    <p-tag severity="info" [value]="user.country" />
    <p-tag>
      <span class="fi fi-eg text-[1.4rem]"></span>
    </p-tag>
  </div>
</div>
<div class="relative px-5 py-3 flex flex-col gap-2 max-h-[170px]">
  <div>
    <p class="text-[1rem]">
      <strong>{{user.name}}</strong>
    </p>
  </div>
  <div></div>
  <div class="flex justify-between items-center">
    <div class="text-gray-500 flex gap-3 justify-center items-center text-big">
      <button
        matTooltip="اضافة لقائمة المفضلة"
        class="flex items-center"
        (click)="successToaster('تم الأضافة لقائمة المفضلة', 'عملية ناجحة')"
      >
        <mat-icon class="text-big" style="color: rgb(202, 25, 25)"
          >favorite</mat-icon
        >
      </button>
      <a [routerLink]="['/messages']">
        <button
          class="flex items-center"
          [matTooltip]="' ارسل رسالة إلى ' + user.name"
        >
          <mat-icon class="text-big">chat_bubble</mat-icon>
        </button>
      </a>
    </div>

    <button matTooltip="عدد الصور" class="text-gray-500 flex gap-2">
      <mat-icon class="text-big"> photo_camera </mat-icon>
      <span class="">3</span>
    </button>
  </div>
</div>
