<div>
  <a [routerLink]="['/profile/', 1]">
    <img
      class="block h-[235px] w-[100%]"
      src="assets/pexels-photo-54277.jpeg"
      alt=""
    />
  </a>
  <div class="p-2 absolute top-0 flex gap-2">
    <p-tag severity="success" value="18" />
    <p-tag severity="info" value="cairo" />
  </div>
</div>
<div class="relative px-5 py-3 flex flex-col gap-2 max-h-[170px]">
  <app-user-status></app-user-status>
  <div>
    <p class="text-[1rem]">
      <strong> Mohamed A </strong>
    </p>
  </div>
  <div>
    <p class="text-gray-500">ابحث علي: انثي , 30-30</p>
  </div>
  <div class="flex justify-between items-center">
    <div class="text-gray-500 flex gap-3 justify-center items-center text-big">
      <button
        matTooltip="اضافة لقائمة المفضلة"
        class="flex items-center"
        (click)="successToaster('تم الأضافة لقائمة المفضلة', 'عملية ناجحة')"
      >
        <mat-icon class="text-big" style="color: rgb(202, 25, 25)"
          >favorite</mat-icon
        >
      </button>
      <a [routerLink]="['/messages']">
        <button
          class="flex items-center"
          [matTooltip]="'ارسل رسالة إلى' + talkWith"
        >
          <mat-icon class="text-big">chat_bubble</mat-icon>
        </button>
      </a>
    </div>

    <button matTooltip="عدد الصور" class="text-gray-500 flex gap-2">
      <mat-icon class="text-big"> photo_camera </mat-icon>
      <span class="">3</span>
    </button>
  </div>
</div>
