<main class="grid grid-cols-12 gap-4 mt-4">
  <section
    class="col-span-12 md:col-span-8 flex flex-col sm:justify-start items-center sm:items-start justify-center"
  >
    <h1 class="text-xl">رفع الصور للملف الشخصي</h1>
    <p class="my-4">قم برفع المزيد من الصور حتي تكون أكثر مصداقية</p>
    <div class="w-[100%] justify-center sm:justify-start flex flex-wrap gap-3">
      @for (item of [1,2,3,4,5]; track $index) {

      <div class="relative h-52 w-52">
        <button class="absolute top-2 left-2 bg-white h-8 w-8 rounded-full">
          <mat-icon class="pt-1">close</mat-icon>
        </button>
        <img
          [src]="imgSrc"
          alt=""
          class="block w-[100%] h-[100%] rounded object-cover"
          [id]="'img' + $index"
          #img
        />
        <input
          [id]="'img' + $index"
          type="file"
          hidden
          #input
          accept="image/*"
          class="absolute top-0 opacity-0 hover:z-100 z-90 block h-[100%] w-[100%]"
          (change)="onFileSelected($event)"
        />
        <span
          class="text-center absolute hover:opacity-[0.8] opacity-0 pt-20 top-0 h-[100%] w-[100%] transition duration-300 z-100 block cursor-pointer"
          (click)="input.click()"
        >
          {{imgText}}
        </span>
      </div>
      }
    </div>
  </section>
  <section class="md:col-span-3 col-span-12">
    <h1 class="text-xl">أرشادات الصور</h1>
    <ul class="my-3">
      <li class="my-1 mx-1 text-gray-500">تظهرك تفعل شيئا تستمتع به</li>
      <li class="my-1 mx-1 text-gray-500">تعكس شخصيتك</li>
      <li class="my-1 mx-1 text-gray-500">
        على الأقل صورة واحدة تظهر جسمك الكامل
      </li>
      <li class="my-1 mx-1 text-gray-500">
        تظهرك في مكان فريد (طرق لبدء محادثات)
      </li>
    </ul>
  </section>
</main>
