<button
  class="flex flex-row-reverse justify-between hover:transition-[bg] w-[200px] ease-in duration-300 p-3 hover:bg-gray-200"
  mat-menu-item
>
  <a routerLink="/editProfile"> {{ item }} </a>
  <div [matBadge]="notification" class="ml-3"></div>
</button>
<!-- <button
  class="flex flex-row-reverse justify-between hover:transition-[bg] w-[200px] ease-in duration-300 p-3 hover:bg-gray-200"
  mat-menu-item
> -->
<!--  
<a routerLink=""> المفضلات </a>
 <div
    matBadge="1"
    class="ml-3"
  ></div>
</button>
<button
  class="flex flex-row-reverse justify-between hover:transition-[bg] w-[200px] ease-in duration-300 p-3 hover:bg-gray-200"
  mat-menu-item
>
 
<a routerLink=""> قائمة الحظر </a>
 <div
    matBadge="1"
    class="ml-3"
  ></div>
</button>
<button
  class="flex flex-row-reverse justify-between hover:transition-[bg] w-[200px] ease-in duration-300 p-3 hover:bg-gray-200"
  mat-menu-item
>
 
<a routerLink=""> من شاهد الملف الشخصي </a>
 <div
    matBadge="1"
    class="ml-3"
  ></div>
</button> -->
