<app-sub-header>
  <div class="flex justify-start text-base">
    @for (item of fakeData; track $index) {

    <button>
      <a
        class="flex justify-center pt-2 px-4 pb-2"
        [routerLink]="item.routerName"
        [routerLinkActive]="['border-b-3', 'border-bg-white']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ item.name }}
      </a>
    </button>
    }
  </div>
</app-sub-header>
<section class="grid grid-cols-12 gap-3 py-3">
  <app-message-navbar
    class="lg:col-span-3 md:col-span-6 col-span-12 min-h-[30rem] flex justify-center md:justify-evenly md:items-start"
  ></app-message-navbar>

  <section class="hidden sm:block sm:col-span-6">
    <app-messages-contanier></app-messages-contanier>
  </section>
</section>

<app-ads class="col-span-12 lg:col-span-3"></app-ads>
