<p-toast pposition="top-right" [style]="{ width: '350px' }"></p-toast>
<section>
  <mat-drawer-container [hasBackdrop]="true">
    <mat-drawer position="end" #drawer mode="over">
      <section class="mr-5 flex flex-col gap-2">
        <h1 class="text-[23px] font-bold" style="color: var(--sec-color)">
          <a routerLink="home"> Muslima </a>
        </h1>
        <div class="px-2 flex justify-between">
          <a (click)="closeDrawer()" routerLink="/online"> متصل الان </a>
          <span matBadgePosition="before" matBadge="1"></span>
        </div>
        <div class="px-2 flex justify-between">
          <a (click)="closeDrawer()" routerLink="/matches"> الشركاء </a>
          <span matBadgePosition="before" matBadge="1"></span>
        </div>
        <div class="px-2 flex justify-between">
          <a (click)="closeDrawer()" routerLink="/messages"> الرسائل </a>
          <span matBadgePosition="before" matBadge="1"></span>
        </div>
        <div class="px-2 flex justify-between">
          <a
            (click)="closeDrawer()"
            routerLink="/interest"
            (click)="changeActivties('interest')"
          >
            ألاعجابات
          </a>
          <span matBadgePosition="before" matBadge="1"></span>
        </div>
        <div class="px-2 flex justify-between">
          <a
            (click)="closeDrawer()"
            routerLink="/favorite"
            (click)="changeActivties('favorite')"
          >
            المفضلات
          </a>
          <span matBadgePosition="before" matBadge="1"></span>
        </div>
        <div class="px-2 flex justify-between">
          <a (click)="closeDrawer()" routerLink=""> من شاهد ملفي الشخصي </a>
          <span matBadgePosition="before" matBadge="1"></span>
        </div>
        <div class="px-2 flex justify-between">
          <a (click)="closeDrawer()" routerLink=""> الضبط </a>
          <span matBadgePosition="before" matBadge="1"></span>
        </div>
        <div class="px-2 flex justify-between">
          <a (click)="closeDrawer()" routerLink=""> تسجيل الخروج </a>
          <span matBadgePosition="before" matBadge="1"></span>
        </div>
      </section>
    </mat-drawer>
    <mat-drawer-content>
      <app-header (isOpen)="$event ? drawer.toggle() : null"></app-header>
      <main class="mt-10 min-h-[78vh]">
        <router-outlet></router-outlet>
      </main>
      <app-footer></app-footer>
    </mat-drawer-content>
  </mat-drawer-container>
</section>
