<app-header></app-header>
<section
  class="min-h-31 py-2 mt-[40px]"
  style="background-color: var(--sec-color)"
>
  <!-- <h5 class="text-white py-2 px-8 text-[17px]">الأعضاء المتصلون</h5> -->

  <app-sub-header></app-sub-header>
</section>
<main class="px-10 mt-20">
  <section class="mt-2 flex justify-between">
    <span>1 - 35 من 1453</span>
    <div>
      <span>الترتيب حسب:</span>
      <select class="inline-block" name="" id="">
        <option value="">1</option>
        <option value="">1</option>
        <option value="">1</option>
        <option value="">1</option>
      </select>
    </div>
  </section>
  <section
    class="transition duration-3 translate thick mt-2 grid grid-cols-6 gap-3"
  >
    @for(i of [1,2,3,4,5,6,7,8,9,0,0,0,0,0]; track $index){
    <app-card></app-card>
    }
  </section>
</main>
<app-footer></app-footer>
