mat-icon {
  height: 26px;
  width: 26px;
  font-size: 26px;
}

tbody > tr:nth-child(odd) {
  background-color: #efefef;
}

p-galleria {
  direction: ltr;
  height: 100% !important;
}

p-galleria-thumbnails-content {
  background-color: black !important;
}
