<!-- <div class="card flex justify-center">
    <p-toast position="bottom-center" key="confirm" (onClose)="onReject()" [baseZIndex]="5000">
        <ng-template let-message #message>
            <div class="flex flex-col items-start flex-auto">
                <div class="flex items-center gap-2">
                    <span class="font-bold">Amy Elsner</span>
                </div>
                <div class="font-medium text-lg my-4">{{ 'ffgggg' }}</div>
                <button size="small" (click)="onConfirm()">mizo</button>
            </div>
        </ng-template>
    </p-toast>
    <button (click)="showConfirm()">click me</button>
</div> -->
