<app-sub-header>
  <div class="flex justify-start">
    @for (item of fakeData; track $index) {

    <button
      class="flex justify-center pt-2 px-4 pb-2"
      (click)="id($index)"
      [ngClass]="{
        'border-b-3': item.eng === fakeData[idn].eng,
        'border-bg-white': item.eng === fakeData[idn].eng
      }"
    >
      {{ item.name }}
    </button>
    }
  </div>
</app-sub-header>
<section class="grid grid-cols-12 gap-3 py-3">
  <app-message-navbar
    class="lg:col-span-3 md:col-span-6 sm:col-span-6 col-span-12 flex justify-center md:justify-evenly md:items-start"
  ></app-message-navbar>

  <app-messages-contanier
    class="hidden sm:block sm:col-span-6"
  ></app-messages-contanier>

  <app-ads class="col-span-12 lg:col-span-3"></app-ads>
</section>
