
@import "tailwindcss";
@font-face {
  font-family: "cairo";
  src: url("../public/assets/fonts/Tajawal/Tajawal-Medium.ttf");
}
:root {
  --main-color: rgba(122, 177, 184, 0.9);
  font-family: cairo;
  --sec-color: #568e96;
}
body {
  direction: rtl !important;
  font-size: 15px;
}