// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use "tailwindcss";
// Removed @plugin as it is not valid in SCSS. Add the plugin in the Tailwind CSS configuration file instead.
@use "@angular/material" as mat;


html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),

      density: 0,
    )
  );
}

@font-face {
  font-family: "tejwal";
  src: url("../public/assets/fonts/Tajawal/Tajawal-Medium.ttf");
}
:root {
  --main-color: rgb(122, 177, 184);
  --sec-color: #568e96;
  --main-font-color: rgb(236, 240, 240);
  @include mat.badge-overrides(
    (
      background-color: var(--sec-color),
      text-color: var(--main-font-color),
    )
  );
}

body {
  box-sizing: border-box;
  font-family: tejwal !important;
  direction: rtl !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  margin: 0;
}

.cdk-overlay-connected-position-bounding-box {
  top: 50px !important;
}

.mat-mdc-menu-content {
  background-color: white;
}

button,
a {
  cursor: pointer;
}
