<main class="grid grid-cols-12 pt-4 gap-1 m-auto">
  <section class="lg:col-span-3 sm:col-span-4 col-span-12 p-1">
    <p
      style="background-color: var(--sec-color)"
      class="text-xl text-white py-5 text-center"
    >
      العضوية الماسية
    </p>
    <div class="border-b border-gray-400 py-5 px-2 text-center">
      <p class="text-xl text-bolder">{{ price }}$</p>
      <p class="pt-3 text-gray-500">لكل شهر</p>
    </div>
    <section>
      <h3 class="text-xl py-2 text-center">المميزات</h3>
      <ul class="text-center">
        <li class="text-bold p-2">
          قم بفتح رسائلك
          <p class="text-gray-500">
            ارسل واستقبل رسائل غير محدودة لجميع الأعضاء
          </p>
        </li>

        <li class="text-bold p-2">
          تخلّص من الإعلانات
          <p class="text-gray-500">
            يتمتع الأعضاء ذوي العضويات المميزة بتجربة خالية تماماً من الإعلانات.
          </p>
        </li>

        <li class="text-bold p-2">
          احصل على شركاء أفضل
          <p class="text-gray-500">
            اعثر على شريكك المثالي بسهولة أكثر نظراُ لقدرتك على استخدام معادلات
            توافق مشتركة ومعكوسة. العثور على ذلك الشخص المميز لم يكن أبداً بتلك
            السهولة.
          </p>
        </li>
        <li class="text-bold p-2">
          اظهر في ترتيب أعلى من الأعضاء الآخرين
          <p class="text-gray-500">
            سوف يظهر حسابك الشخصي قبل حسابات الأعضاء الأساسيين في نتائج البحث.
            أولوية المراسلة كن أول رسالة في الرسائل الواردة لجميع العزاب الذين
            راسلتهم.
          </p>
        </li>

        <li class="text-bold p-2">
          أولوية المراسلة
          <p class="text-gray-500">
            كن أول رسالة في الرسائل الواردة لجميع العزاب الذين راسلتهم.
          </p>
        </li>
      </ul>
      <button
        class="py-2 w-[100%] rounded text-white"
        style="background-color: var(--sec-color)"
      >
        إشترك الأن
      </button>
    </section>
  </section>
  <section class="lg:col-span-3 sm:col-span-4 col-span-12 p-1">
    <p
      style="background-color: var(--sec-color)"
      class="text-xl text-white py-5 text-center"
    >
      العضوية الماسية
    </p>
    <div class="border-b border-gray-400 py-5 px-2 text-center">
      <p class="text-xl text-bolder">{{ price }}$</p>
      <p class="pt-3 text-gray-500">لكل شهر</p>
    </div>
    <section>
      <h3 class="text-xl py-2 text-center">المميزات</h3>
      <ul class="text-center">
        <li class="text-bold p-2">
          قم بفتح رسائلك
          <p class="text-gray-500">
            ارسل واستقبل رسائل غير محدودة لجميع الأعضاء
          </p>
        </li>

        <li class="text-bold p-2">
          تخلّص من الإعلانات
          <p class="text-gray-500">
            يتمتع الأعضاء ذوي العضويات المميزة بتجربة خالية تماماً من الإعلانات.
          </p>
        </li>

        <li class="text-bold p-2">
          احصل على شركاء أفضل
          <p class="text-gray-500">
            اعثر على شريكك المثالي بسهولة أكثر نظراُ لقدرتك على استخدام معادلات
            توافق مشتركة ومعكوسة. العثور على ذلك الشخص المميز لم يكن أبداً بتلك
            السهولة.
          </p>
        </li>
        <li class="text-bold p-2">
          اظهر في ترتيب أعلى من الأعضاء الآخرين
          <p class="text-gray-500">
            سوف يظهر حسابك الشخصي قبل حسابات الأعضاء الأساسيين في نتائج البحث.
            أولوية المراسلة كن أول رسالة في الرسائل الواردة لجميع العزاب الذين
            راسلتهم.
          </p>
        </li>

        <li class="text-bold p-2">
          أولوية المراسلة
          <p class="text-gray-500">
            كن أول رسالة في الرسائل الواردة لجميع العزاب الذين راسلتهم.
          </p>
        </li>
      </ul>
      <button
        class="py-2 w-[100%] rounded text-white"
        style="background-color: var(--sec-color)"
      >
        إشترك الأن
      </button>
    </section>
  </section>
  <section class="lg:col-span-3 sm:col-span-4 col-span-12 p-1">
    <p
      style="background-color: var(--sec-color)"
      class="text-xl text-white py-5 text-center"
    >
      العضوية الماسية
    </p>
    <div class="border-b border-gray-400 py-5 px-2 text-center">
      <p class="text-xl text-bolder">{{ price }}$</p>
      <p class="pt-3 text-gray-500">لكل شهر</p>
    </div>
    <section>
      <h3 class="text-xl py-2 text-center">المميزات</h3>
      <ul class="text-center">
        <li class="text-bold p-2">
          قم بفتح رسائلك
          <p class="text-gray-500">
            ارسل واستقبل رسائل غير محدودة لجميع الأعضاء
          </p>
        </li>

        <li class="text-bold p-2">
          تخلّص من الإعلانات
          <p class="text-gray-500">
            يتمتع الأعضاء ذوي العضويات المميزة بتجربة خالية تماماً من الإعلانات.
          </p>
        </li>

        <li class="text-bold p-2">
          احصل على شركاء أفضل
          <p class="text-gray-500">
            اعثر على شريكك المثالي بسهولة أكثر نظراُ لقدرتك على استخدام معادلات
            توافق مشتركة ومعكوسة. العثور على ذلك الشخص المميز لم يكن أبداً بتلك
            السهولة.
          </p>
        </li>
        <li class="text-bold p-2">
          اظهر في ترتيب أعلى من الأعضاء الآخرين
          <p class="text-gray-500">
            سوف يظهر حسابك الشخصي قبل حسابات الأعضاء الأساسيين في نتائج البحث.
            أولوية المراسلة كن أول رسالة في الرسائل الواردة لجميع العزاب الذين
            راسلتهم.
          </p>
        </li>

        <li class="text-bold p-2">
          أولوية المراسلة
          <p class="text-gray-500">
            كن أول رسالة في الرسائل الواردة لجميع العزاب الذين راسلتهم.
          </p>
        </li>
      </ul>
      <button
        class="py-2 w-[100%] rounded text-white"
        style="background-color: var(--sec-color)"
      >
        إشترك الأن
      </button>
    </section>
  </section>
</main>

<!-- <div class="grid col-span-3">العضوية الذهبية</div>
<div class="grid col-span-3">العضوية البلاتنية</div> -->
