<app-sub-header>
  <section class="flex items-center justify-start">
    <a [routerLink]="['/profile', 1]">
      <div class="flex justify-center items-center gap-5">
        <img
          class="h-20 w-20 block rounded-full"
          src="assets/imgs/default-male-avatar-profile-icon-social-media-user-free-vector.jpg"
          alt=""
        />

        <h5
          class="text-white p-2 rounded"
          style="background-color: var(--main-color)"
        >
          مرحبا {{ userName }}
        </h5>
      </div>
    </a>
    <!-- <div class="hidden md:flex gap-15 xl:mx-20">
      @for (item of icons; track $index) {
      <ng-container>
         <app-border-circle>
          <mat-icon
            [matTooltip]="item.tooltipName"
            icon
            style="
              opacity: 0.9;
              color: #3f7580;
              height: 45px;
              width: 45px;
              font-size: 45px;
            "
          >
            {{ item.name }}
          </mat-icon>
          <span
            number
            class="text-[0.8rem] text-gray-100 block absolute top-[30%]"
          >
            2
          </span>
        </app-border-circle> 
      </ng-container>
      }
    </div> -->
  </section>
</app-sub-header>
<main class="mt-5">
  <app-orderby>
    <span label>1 - 35 من 1453</span>
    <div class="card flex justify-center" value>
      <p-select
        [options]="filter"
        [(ngModel)]="selected"
        (onChange)="selectedVal($event.value)"
        optionLabel="name"
        placeholder="ترتيب حسب "
        class="w-full md:w-56"
      />
    </div>
  </app-orderby>
  <!-- <app-ads></app-ads> -->
  <section
    class="transition duration-3 translate thick mt-2 grid grid-cols-12 gap-3"
  >
    @for (user of users; track $index) {
    <div class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3">
      <app-card [user]="user"></app-card>
    </div>
    }
  </section>
  <app-pagination></app-pagination>
</main>
